<div class="container">
  <h1 class="display-4 text-danger">Emergency Contact</h1>
  <p class="lead">
    You need to activate your Rutgers NetID before you can register for Rutgers' Emergency Contact System. If you have not yet activated your Rutgers NetID, please click here.
  </p>
  <p class="lead">In order to expedite notification in the event of an emergency (campus closing or a campus safety issue), please provide your cell phone number and emergency contact information at <a href="https://personalinfo.rutgers.edu/pi/">https://personalinfo.rutgers.edu/pi/.</a></p>
</div>
