<div class="container">
  <h1 class="display-4 text-danger">Student Orientation, Advisement, & Registration (SOAR)</h1>
  <p class="lead">Welcome to Rutgers University - Newark! The SOAR Program is an important part of the university programming calendar. Designed to give you an overview of the Rutgers University - Newark community, this program is constructed to connect you to the resource and services that our institution has to offer.</p>
  <p class="lead">Sign Up now to reserve your SOAR Day session.</p>
  <ul>
    <li>View the fall 2019 Schedule of Classes to get a head start on determining what courses you may be interested in taking.</li>
    <li>View the 2016-2018 Rutgers-Newark Undergraduate Catalog to read course descriptions and to familiarize yourself with all university policies and procedures.</li>
    <li>View our degree audit program, Degree Navigator.</li>
  </ul>
</div>
