<div class="jumbotron">
  <h1 class="display-4 text-danger">Rutgers ID Card</h1>
  <p class="lead">The Rutgers ID Card is used to access many services across Rutgers University, including: Residence halls; meal plans and flex dollars; university libraries; computer labs; recreation facilities; and athletic events. </p>
  <p class="lead">You will be required to submit a photo of yourself online. After your photo has been approved, you can just pick up your preprinted ID Card at Orientation. <strong>You need to activate your Rutgers NetID and email before you can submit your photo online.</strong></p>
  <p class="lead">Please review the criteria and directions outlined below before taking your picture:</p>
  <p class="lead">Please upload your photo at minimum, 2 weeks prior to your scheduled Orientation date.</p>
  <p class="lead"><strong>Photo submission requirements</strong></p>
  <ul>
    <li>Recent color photo</li>
    <li>Plain, solid, white background</li>
    <li>Bright, even lighting</li>
    <li>Centered, frontal view of full face – no profile</li>
    <li>Cropped from just above the top of the head to the collarbone, leaving enough space around face to crop properly</li>
    <li>Eyes open and visible (wear prescription glasses if you normally do so)</li>
  </ul>
  <p class="lead"><strong>Acceptable Photo Example</strong></p>
  <p class="lead"><strong>Unacceptable Photos</strong></p>
  <ul>
    <li>Hats, sunglasses, or other items that obscure your face</li>
    <li>Glare on glasses, shadows</li>
    <li>Other visible people or objects in the photo</li>
    <li>Inappropriate expressions or gestures</li>
    <li>Professional photos, Senior portraits or school photos</li>
    <li>Photo of a photo</li>
    <li>No filters or frames</li>
  </ul>
  <p class="lead"><strong>How to Submit Your Photo</strong></p>
  <ol>
    <li>Click on the "Upload your photo" link below</li>
    <li>Log in with your NetID and password</li>
    <li>Click "Accept the terms of Service"</li>
    <li>Take a photo using your device or upload an existing photo (must be .jpeg, .png., or .gif file)</li>
    <li>Crop or rotate image to meet requirements</li>
    <li>Preview and submit photo</li>
    <li>You will be notified via email if your photo was accepted or rejected</li>
  </ol>
  <p class="lead">Upload Your Photo</p>
  <p class="lead">(Note: You must log in with your NetID and password & have your official Rutgers email address activated)</p>
  <p class="lead"><strong>If you have submitted a photo and have not received an email confirmation within the approval timeframe (during normal business hours), please be sure to check your ScarletMail account, the email you signed into the Enrollment Pathway with, and your spam folder. Please check your email regularly, and if you have your ScarletMail account routed to another email address, please be sure to check both. </strong></p>
  <p class="lead">Please see the FAQ page at <a href="http://iam-ipo.rutgers.edu ">http://iam-ipo.rutgers.edu </a>for more information on this process.</p>
</div>
