<div class="jumbotron">
  <h1 class="display-4 text-danger">New Student Online Modules</h1>
  <p class="lead">All incoming first-year and transfer students are <strong>required</strong> to complete these two online learning modules. Because we will be discussing information in the modules as part of New Student Orientation, we are asking <strong>all</strong> incoming first-year and transfer students to complete the two online learning modules <strong>before attending orientation</strong>. The modules must be completed by <strong>September 1</strong>. Any student who fails to complete the two modules by the September 1 will have a registration hold placed on their account and will be unable to register for spring classes until both modules are completed. </p>
  <p class="lead"><strong>Not Anymore</strong> is an online program designed to help students foster healthy relationships and deal with the issues of sexual assault, sexual harassment, dating violence, and stalking.  </p>
  <p class="lead"><strong>Not Anymore for Alcohol & Other Drugs</strong> is designed to inform students about the risks of drug and alcohol abuse. Students will learn a variety of methods to manage situations involving these substances.</p>
  <p class="lead"><strong>To access the online learning modules: </strong></p>
  <ul>
    <li>Follow this link to the modules.</li>
    <li>Select "NetID Login."</li>
    <li>Enter your NetID and Password.</li>
    <li>Click on "Required Programs."</li>
    <li>Complete <strong>Not Anymore</strong> and <strong>Not Anymore for Alcohol & Other Drugs</strong> before you attend orientation.</li>
  </ul>
</div>
