<div class="jumbotron">
  <h1 class="display-3 text-danger">Rutgers ID Card</h1>
  <p class="lead">The Rutgers ID Card is used to access many services across Rutgers University, including: Residence halls; meal plans and flex dollars; university libraries; computer labs; recreation facilities; and athletic events. </p>
  <p class="lead">You will be required to submit a photo of yourself online. After your photo has been approved, you can just pick up your preprinted ID Card at Orientation. You need to activate your Rutgers NetID and email before you can submit your photo online.  </p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>
