<div class="jumbotron">
  <h1 class="text-danger">Placement Test</h1>
  <p><strong>SCROLL TO SEE PLACEMENT TEST DETAILS. </strong>Test links for RU New Brunswick students can be found on <a href="http://oirap.rutgers.edu/testplace.html">http://oirap.rutgers.edu/testplace.html</a></p>
  <p>The following is <strong>rendered as bold text</strong>.</p>
  <p>The following is <em>rendered as italicized text</em>.</p>
  <p>An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>.</p>
</div>
