<div class="container">

  <h1 class="display-4 text-danger">Parent/Family Information</h1>
  <p class="lead">Please provide the following contact information for your parent(s) or guardian. This information will be used to communicate information about various family-focused events and services on campus, and will enable us to personalize our correspondence with your family while you are a Rutgers student. Please note that completing this form <strong>does not</strong> confirm attendance or registration at a Parent and Family Orientation session or other event. Separate communications will be sent directly to family members using the contact information below. </p>
  <p class="lead">Additionally, providing this information <strong>does not</strong> grant your parent(s) or guardian access to information related to your student record as protected by the Family Educational Rights and Privacy Act (FERPA). Additional information about your rights as a student under FERPA and the process for granting access to a parent or guardian can be found here. </p>
  <p class="lead">All fields marked with "*" are required. </p>
  <p class="lead"><strong>Parent/Guardian/Family Member 1</strong></p>
  <form [formGroup]="checkboxGroupForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="check" name="check" formControlName="check">
        <label class="custom-control-label" for="check">Not a U.S. telephone</label>
      </div>
    </div>
  </form>
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>First Name</label>
      <input type="text" formControlName="firstName1" class="form-control" [ngClass]="{'is-invalid': submitted && f.firstName1.errors}" placeholder="First Name"/>
      <div *ngIf="submitted && f.firstName1.errors" class="invalid-feedback">
        <div *ngIf="f.firstName1.errors.required">First Name is required</div>
      </div>
    </div>

    <div class="form-group">
      <label>Last Name</label>
      <input type="text" formControlName="lastName1" class="form-control" [ngClass]="{'is-invalid': submitted && f.lastName1.errors}" placeholder="Last Name" />
      <div *ngIf="submitted && f.lastName1.errors" class="invalid-feedback">
        <div *ngIf="f.lastName1.errors.required">Last Name is required</div>
      </div>
    </div>

    <div class="form-group">
      <label>Email</label>
      <input type="text" formControlName="email1" class="form-control" [ngClass]="{'is-invalid': submitted && f.email1.errors}" placeholder="Email"/>
      <div *ngIf="submitted && f.email1.errors" class="invalid-feedback">
        <div *ngIf="f.email1.errors.required">Email is required</div>
      </div>
    </div>

    <div class="form-group">
      <label>Telephone</label>
      <input type="text" formControlName="telephone1" class="form-control" placeholder="Telephone"/>
    </div>

    <div class="form-group">
      <label>Relationship to student</label>
      <input type="text" formControlName="relationship1" class="form-control" placeholder="Relationship"/>
    </div>

    <div class="form-group">
      <label>Employer</label>
      <input type="text" formControlName="employer1" class="form-control" placeholder="Employer"/>
    </div>

    <p class="lead"><strong>Parent/Guardian/Family Member 2</strong></p>
    <div class="form-group">
      <label>First Name</label>
      <input type="text" formControlName="firstName2" class="form-control" [ngClass]="{'is-invalid': submitted && f.firstName2.errors}" placeholder="First Name"/>
    </div>

    <div class="form-group">
      <label>Last Name</label>
      <input type="text" formControlName="lastName2" class="form-control" [ngClass]="{'is-invalid': submitted && f.lastName2.errors}" placeholder="Last Name"/>
    </div>

    <div class="form-group">
      <label>Email</label>
      <input type="text" formControlName="email2" class="form-control" [ngClass]="{'is-invalid': submitted && f.email2.errors}" placeholder="Email"/>
    </div>

    <div class="form-group">
      <label>Telephone</label>
      <input type="text" formControlName="telephone2" class="form-control" placeholder="Telephone"/>
    </div>

    <div class="form-group">
      <label>Relationship to student</label>
      <input type="text" formControlName="relationship2" class="form-control" placeholder="Relationship"/>
    </div>

    <div class="form-group">
      <label>Employer</label>
      <input type="text" formControlName="employer2" class="form-control" placeholder="Employer"/>
    </div>

    <div class="form-group">
      <button class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
